[Unit]
Description=SonarQube
After=network.target network-online.target
Wants=network-online.target

[Service]
ExecStart={{ workspace }}/{{ sonar_version_directory }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ workspace }}/{{ sonar_version_directory }}/bin/linux-x86-64/sonar.sh stop
ExecReload={{ workspace }}/{{ sonar_version_directory }}/bin/linux-x86-64/sonar.sh restart
PIDFile={{ workspace }}/{{ sonar_version_directory }}/bin/linux-x86-64/./SonarQube.pid
Type=simple
LimitNOFILE=65536
LimitNPROC=8192

[Install]
WantedBy=multi-user.target